@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";


/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
.pre-header {
    background-color: $main-color;
    height: 18px;
    width: 100%;
}

header {
    .nav-link {
        text-transform: uppercase;
        color: $text-color;
        font-weight: 800;
    }

    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: $main-color;
        border-bottom: 2px solid $main-color;
    }
}

footer {
    background-color: #000;
}

#products {
    .card-img-top {
        aspect-ratio: 1 / 1.2;
    }
}