@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";


/* -------------------------------------------------------------------------------- */
/* ! general */
/* -------------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
.pre-header {
    background-color: $main-color;
    height: 18px;
    width: 100%;
}

header {
    .nav-link {
        text-transform: uppercase;
        color: $text-color;
        font-weight: 800;
    }

    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: $main-color;
        border-bottom: 2px solid $main-color;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Footer */
/* -------------------------------------------------------------------------------- */
footer {
    background-color: $footer-color;
    width: 100%;
    padding: 20px 0;

    ul {
        padding: 0;
        margin: 0;
        gap: 10px
    }

    li {
        list-style: none;
    }

    .cta {
        border: 2px solid $main-color;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: $negative-color;
        font-weight: 600;
        line-height: 35px;
    }

    .link-social a {
        line-height: 55px;
        padding-right: 10px;

    }

    .icon {
        font-size: 2rem;
        color: $footer-color;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: $text-color;
        text-align: center;
        line-height: 55px;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Products */
/* -------------------------------------------------------------------------------- */
#products {
    .card-img-top {
        aspect-ratio: 1 / 1.2;
    }
}

main {
    min-height: calc(100vh - 247.9px);
}